ul, ol { padding:  0; }
a, img { border: 0; }
div.clear { clear: both; line-height: 0; height: 0; font-size: 0; border: 0; padding: 0; margin: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* LAYOUT */
@content-width: 940px;
@columns: 12;
@gutter: 20px;
@col-width: (@content-width - ((@columns - 1) * @gutter ))/ @columns; 

/* TYPOGRAPHY */
@font-family: 'Avenir-Heavy', Arial, sans-serif; 
@font-size: 17px;
@line-height: 24px;
@p-space: @line-height/2;

/* COLOURS */
@black: #333;
@background: #fff;
@grey: #999;
@highlight: #f00;


// @blue: #20afda;
// @red: #e95935;
// @yellow: #fdc64a;
// @green: #1f9f5f;


@orange: #EA5D0A;
@green: #0fe391; // #10EF99; 
@red: #D62C57;
@yellow: #f6dd51; // #ede800; // #FAF503;


/* OTHER */
@border: 1px solid @grey;


/* CSS STARTS HERE */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { width: 100%; min-height: 100%; }



body {
	font-family: @font-family;
	font-size: @font-size; line-height: @line-height;
	color: @black;
	background: @background;

	overflow-x: auto;
	overflow-y: scroll;

	text-rendering: optimizeLegibility;

	// -webkit-font-smoothing: subpixel-antialiased;
	// -moz-osx-font-smoothing: auto;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


/* BASIC TYPOGRAPHY */

h1,h2,h3,h4,p { margin: 0; padding: 0; }

h1 {
	@factor: 1;
	font-size: @font-size*@factor; 
	line-height: @line-height*@factor;
	font-weight: normal;
}


h2 {
	@factor: 1;
	font-size: @font-size*@factor; 
	line-height: @line-height*@factor;
	font-weight: normal;
	margin-bottom: @p-space;
}


h3 {
	@factor: 1;
	font-size: @font-size*@factor; 
	line-height: @line-height*@factor;
	font-weight: normal;
	margin-bottom: @p-space;
}

p {
	margin-bottom: @p-space;
}

p:last-child {
	margin-bottom: 0;
}

a { color: @black; text-decoration: none; }

a:hover { text-decoration: none; }


/* OTHER BOOTSTRAP DEFS */

img,
iframe { display: block; }


/* GRID */

.col  { 
	float: left;
	margin-left: @gutter;
	width: @col-width; 
	margin-bottom: @gutter;
	text-align: left;
}

.two  { width: @col-width * 2 + 1 * @gutter; }
.three { width: @col-width * 3 + 2 * @gutter; }
.four { width: @col-width * 4 + 3 * @gutter; }
.five { width: @col-width * 5 + 4 * @gutter; }
.six  { width: @col-width * 6 + 5 * @gutter; }
.seven { width: @col-width * 7 + 6 * @gutter; }
.eight { width: @col-width * 8 + 7 * @gutter; }
.nine { width: @col-width * 9 + 8 * @gutter; }
.ten  { width: @col-width * 10 + 9 * @gutter; }
.eleven { width: @col-width * 11 + 10 * @gutter; }
.twelve { width: @col-width * 12 + 11 * @gutter; }

.first { margin-left: 0; clear: left; }
.tright { text-align: right; }
.nobottom { margin-bottom: 0 !important; }




/* CUSTOM STUFF */

body {
	text-align: center;
}

header {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 40px;
	background: #fff;
	z-index: 2014;
}

header div.inner {
	margin: 0 auto;
	height: 40px;
}

header h1 {
	line-height: 40px;
}

header h1 span {
	float: left;
}
header h1 span+span { margin-left: 12px; }

header nav ul { 
	list-style: none; 
	margin: 0; padding: 0; border: 0;
	float: right;
}
header nav li { 
	display: inline-block;
	float: left; 
	line-height: 40px;
	margin-left: 12px;
}
header nav a { color: @grey; }
header nav a:hover,
header nav a.active {
	color: @black;
}


main {
	width: 100%;
	margin: 0 auto;
	padding-top: 60px;
	background: #fff;
	overflow: hidden;
	text-align: center;
}

div.inner {
	width: @content-width;
	margin: 0 auto;
	text-align: left;
}


.main-home {
	position: fixed; 
	top: 0; left: 0; right: 0;
	min-height: 600px;
	padding-top: 40px;
	z-index: -1;
	background: #fee;
}


/* THUMBS */


@thumb-gutter: 40px;
@thumb-width: (@content-width - 2*@thumb-gutter)/3;

.thumb {
	display: block;
	width: @thumb-width; height: @thumb-width;
	overflow: hidden;
	margin-bottom: @thumb-gutter;
	margin-left: @thumb-gutter;
	float: left;
	position: relative;
	text-align: center;
}

.first { margin-left: 0; }

.thumb-image {
	line-height: @thumb-width;
	position: absolute;
	left: 0; top: 0;
	width: @thumb-width; height: @thumb-width;
}

.thumb-image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
}

.thumb:nth-child(odd) .thumb-image img {
	-webkit-transform: rotate(90deg);
}

.thumb-title {
	width: @thumb-width; height: @thumb-width;
	position: absolute;
	line-height: @thumb-width;
}

.thumb-title-inner {
	height: auto;
	display: inline-block;
	vertical-align: middle;
	line-height: @line-height;
}

.thumb-title-inner h3,
.thumb-title-inner h4 {
	font-weight: normal;
	margin: 0;
}


/* interaction */
.thumb-title { display: none; }
.thumb:hover .thumb-title { display: block; }
.thumb:hover .thumb-image { opacity: .1; }

@title-height: 60px;
.touch .thumb { height: @thumb-width + @title-height; }
.touch .thumb-title { height: @title-height; position: absolute; bottom: 0; top: auto; line-height: @title-height; }

/* GALLERY */

.subnav {
	position: fixed;
	top: 40px; left: 0;
	width: 100%; text-align: center;
	background: #fff;
	height: 30px; line-height: 20px;
	
	z-index: 99999999;
}

nav.subnav a {
	display: inline-block;
	float: left; margin-right: 12px;
	color: @grey;
}

.subnav a.active { color: @black; }

.subnav+.main-thumbs { margin-top: 20px; }






/* LIST PAGE */

.main-list {
	padding-top: 40px;
}

.pw-container { padding: 30px 0 40px 0; }
.pw-container a:hover { color: #fff; }


.main-list h2 {
	display: block;
	font-size: @font-size*1.5;
	margin-bottom: 25px;
	clear: both;
}

// .main-list h2:before {
// 	content: '• ';
// 	color: @red;
// }

.main-list div+h2 {
	padding-top: 20px;
}

/* COLOUR CODING */

.advertising { color: @red; }
.design-interaction { color: @orange; }
.illustration { color: @green; }
.moving-image { color: @yellow; }

.student-links.advertising a { color: @red; }
.student-links.design-interaction a { color: @orange; }
.student-links.illustration a { color: @green; }
.student-links.moving-image a { color: @yellow; }

.student-links a:hover { border-bottom: 1px solid; }

.bg-advertising { background: @red; color: #fff; }
.bg-design-interaction { background: @orange; color: #fff; }
.bg-illustration { background: @green; color: #fff; }
.bg-moving-image { background: @yellow; color: #fff; }

a.advertising { color: @black; }
a.design-interaction { color: @black; }
a.illustration { color: @black; }
a.moving-image { color: @black; }

a.advertising:hover,
a.advertising.active { color: @red; }
a.design-interaction:hover,
a.design-interaction.active { color: @orange; }
a.illustration:hover,
a.illustration.active { color: @green; }
a.moving-image:hover,
a.moving-image.active { color: @yellow; }




/* STUDENT PAGE */

.main-student {
	overflow: hidden;
	padding-bottom: 100px;
}

.student-dot-image {
	padding-right: 20px;
}

.student-dot-image img {
	width: 100%;
	height: auto;	
}



.student-intro {
	margin-bottom: 40px;
}

.student-intro h2 {
	font-size: @font-size*1.5;
	margin-bottom: 10px;
}

.student-image {
	text-align: center;
	margin-bottom: 40px;
	overflow: hidden;
}

.student-image img {
	// max-width: @content-width;
	// width: auto; height: auto;

	margin: 0 auto;
}

.student-image img.landscape {
	width: 100%; height: auto;
}

.student-image img.portrait {
	width: auto; height: 875px; // whatever the max height ends up being -- adjust this in responsive css below!!
}

.student-image img.leave {
	// leave as is
}

/* info */

.main-info {
	height: 0;
	overflow: visible;
	background: none;
}

.main-info div.inner {
	background: #fee;
	height: 0;
	position: relative;
	overflow: visible;
}

.main-info div.inner > div {
	position: absolute;
	top: 100px; left: 0;
	width: 50%;
	background: #fff;
}


.info-map {
	background: #e5e3df;
	position: fixed;
	left: 0; top: 40px; right: 0; bottom: 0;
	z-index: -1;
}



@media only screen and (min-width: 1200px) {

	@content-width: 1175px;
	@columns: 12;
	@gutter: 25px;
	@col-width: (@content-width - ((@columns - 1) * @gutter ))/ @columns; 

	.col  { 
		float: left;
		margin-left: @gutter;
		width: @col-width; 
		margin-bottom: @gutter;
		text-align: left;
	}

	.two  { width: @col-width * 2 + 1 * @gutter; }
	.three { width: @col-width * 3 + 2 * @gutter; }
	.four { width: @col-width * 4 + 3 * @gutter; }
	.five { width: @col-width * 5 + 4 * @gutter; }
	.six  { width: @col-width * 6 + 5 * @gutter; }
	.seven { width: @col-width * 7 + 6 * @gutter; }
	.eight { width: @col-width * 8 + 7 * @gutter; }
	.nine { width: @col-width * 9 + 8 * @gutter; }
	.ten  { width: @col-width * 10 + 9 * @gutter; }
	.eleven { width: @col-width * 11 + 10 * @gutter; }
	.twelve { width: @col-width * 12 + 11 * @gutter; }

	div.inner {
		width: @content-width;
	}

	@thumb-width: 365px;
	@thumb-gutter: 40px;

	.thumb {
		width: @thumb-width; height: @thumb-width;
		margin-bottom: @thumb-gutter;
		margin-left: @thumb-gutter;
	}

	.first {
		margin-left: 0;
	}

	.thumb-image {
		line-height: @thumb-width;
		width: @thumb-width; height: @thumb-width;
	}

	.thumb-title {
		width: @thumb-width; height: @thumb-width;
		line-height: @thumb-width;
	}

	@title-height: 60px;
	.touch .thumb { height: @thumb-width + @title-height; }
	.touch .thumb-title { height: @title-height; line-height: @title-height; }


}